name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/*

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: lts/-1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint project
        run: npm run lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: lts/-1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: npm run build

      - name: Test project
        run: npm run test -- --coverage

      - name: Coverage
        uses: codecov/codecov-action@v5
